<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire</title>
</head>
<body>
    
    <form action="/envoi" method="POST"> <!-- action : sur quel page je vais quand je submit -->
        
        <p>Entre du texte :</p>
        <input type="text" name="du_texte">

        <p>Entre une couleur</p>

        <input type="color" name="une_couleur">

        <p>Entre un numéro</p>
        <input type="number" name="un_numero">


        <input type="submit">

    </form>

</body>
</html>